@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";

body{
    font-family: "Poppins";
}

h1,h2,h3,p, a {
    font-family: "Poppins";
}

.header-image {
    background-image: url(../images/bann.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container .title{
    font-family:"Poppins";
    color:#035013;   
    font-size:62px;
    font-weight: 300;
}
.container .subtitle{
    font-family:"Poppins";
    font-size:28px;
}

.columns{
    width: 90%;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.centered {
    margin: auto;
}

.gray-color {
    background: #fafafa;
}

.section-image {
    background-image: url(../images/bann.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.left{
    text-align: left;
}

ul {
    list-style: none;
  }
  
  ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
 
  .white {
      color: white;
  }


.footer_ {
    background-color: #0c0f0f;
    color: whitesmoke;
}

.footer_ a {
    color: #dd7325;
}

.nav-item a, a.nav-item {
    color: #dd7325;
}

.nav-item a:hover, a.nav-item:hover {
    color: whitesmoke;
}

.img {
    box-shadow: 0 0 0 0 #035013;
    -webkit-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  }

  .img:hover {
    -webkit-animation: none;-moz-animation: none;-ms-animation: none; animation: none;
  }

.nav {
    background-color: #0c0f0f;
}

.nav a {
    color: whitesmoke;
}

a.nav-item.is-tab.is-active {
    border-bottom-color: #dd7325;
    border-width: 2px;
    color: whitesmoke;
}

a.nav-item.is-tab:hover {
    border-bottom-color: #dd7325;
    border-width: 2px;
    color: #dd7325;
}

a.nav-item:hover  {
    color: #dd7325;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}